section{
    margin : 0 110px;
}

header{
    display:grid;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;

}

header .navBar{
    margin-left: auto;
    font-size: 25px;
    ul li {
        display: inline-block;
        margin : 0 25px
    }
}


